# shellcheck shell=bash

alias c="clear"
alias ..="cd .."
alias ls="exa"
alias find="fd"
alias ll="exa -GalhF --group-directories-first --color"
alias lg="lazygit"
alias cat="bat"
alias clip="xclip -sel clip -r"
alias cd="z"
