[data]
    email = {{ promptStringOnce . "email" "Git email address" | quote }}
    install_slack = {{ promptBoolOnce . "install_slack" "Install Slack?" false }}
    install_gcloud = {{ promptBoolOnce . "install_gcloud" "Install Google Cloud SDK?" false }}
    install_nvm = {{ promptBoolOnce . "install_nvm" "Install nvm (Node Version Manager)?" false }}
    install_kubernetes_tools = {{ promptBoolOnce . "install_kubernetes_tools" "Install Kubernetes tools (kubectl, k9s, helm)?" true }}
{{ if eq .chezmoi.os "linux" -}}
    linux_distribution = {{ output "sh" "-c" ". /etc/os-release && printf %s \"$ID\"" | quote }}
    linux_version = {{ output "sh" "-c" ". /etc/os-release && printf %s \"$VERSION_ID\"" | quote }}
    linux_codename = {{ output "sh" "-c" ". /etc/os-release && printf %s \"${VERSION_CODENAME:-}\"" | quote }}
    linux_architecture = {{ output "uname" "-m" | trim | quote }}
    install_brave = {{ promptBoolOnce . "install_brave" "Install Brave?" true }}
    install_vscodium = {{ promptBoolOnce . "install_vscodium" "Install VSCodium?" true }}
    install_mullvad = {{ promptBoolOnce . "install_mullvad" "Install Mullvad VPN?" true }}
    install_signal = {{ promptBoolOnce . "install_signal" "Install Signal?" true }}
    install_bitwarden = {{ promptBoolOnce . "install_bitwarden" "Install Bitwarden?" true }}
    install_discord = {{ promptBoolOnce . "install_discord" "Install Discord?" true }}
    install_spotify = {{ promptBoolOnce . "install_spotify" "Install Spotify?" true }}
    install_telegram = {{ promptBoolOnce . "install_telegram" "Install Telegram?" true }}
    install_thunderbird = {{ promptBoolOnce . "install_thunderbird" "Install Thunderbird?" true }}
    install_1password = {{ promptBoolOnce . "install_1password" "Install 1Password?" false }}
    install_tor_browser = {{ promptBoolOnce . "install_tor_browser" "Install Tor Browser?" false }}
{{ end -}}
    {{- $mounts := output "sh" "-c" "df -P | awk 'NR > 1 { mount = $6; for (i = 7; i <= NF; i++) mount = mount \" \" $i; if (mount !~ /[[:space:]]/ && ($1 ~ /^\\/dev\\// || mount == \"/\") && (mount == \"/\" || mount ~ /^\\/Volumes\\// || mount ~ /^\\/media\\// || mount ~ /^\\/run\\/media\\// || mount ~ /^\\/mnt\\//)) print mount }' | sort -u" | trim | splitList "\n" }}
    {{- $numberedMounts := list }}
    {{- range $index, $mount := $mounts }}
        {{- $numberedMounts = append $numberedMounts (printf "%d. %s" (add $index 1) $mount) }}
    {{- end }}
    {{- $choicePrompt := printf "Select storage from this list:\n%s\nUse arrow keys and Enter, or type a number and press Enter" (join "\n" $numberedMounts) }}
    {{- $choice := promptChoiceOnce . "bitcoin_mount_choice" (printf "Bitcoin data\n%s" $choicePrompt) $numberedMounts }}
    {{- $mount := regexReplaceAll "^[0-9]+\\. " $choice "" }}
    bitcoin_mount_choice = {{ $choice | quote }}
    bitcoin_mount = {{ $mount | quote }}
    bitcoin_datadir = {{ joinPath $mount "bitcoin" | quote }}

    {{- $choice := promptChoiceOnce . "electrs_mount_choice" (printf "Electrs data\n%s" $choicePrompt) $numberedMounts }}
    {{- $mount := regexReplaceAll "^[0-9]+\\. " $choice "" }}
    electrs_mount_choice = {{ $choice | quote }}
    electrs_mount = {{ $mount | quote }}
    electrs_datadir = {{ joinPath $mount "electrs" | quote }}

[diff]
    command = "difft"
