# shellcheck shell=bash

# initialize base environment
# shellcheck source=./.init
source "${HOME}/.init"

# initialize local specific environment
if [[ -e "${XDG_CONFIG_HOME}/bash/.init" ]]; then
    # shellcheck source=../.config/bash/.init
    source "${XDG_CONFIG_HOME}/bash/.init"
fi

if [[ -e "${XDG_CONFIG_HOME}/bash/.variables" ]]; then
    # shellcheck source=../.config/bash/.variables
    source "${XDG_CONFIG_HOME}/bash/.variables"
fi

if [[ -e "${XDG_CONFIG_HOME}/bash/.aliases" ]]; then
    # shellcheck source=../.config/bash/.aliases
    source "${XDG_CONFIG_HOME}/bash/.aliases"
fi

if [[ -e "${XDG_CONFIG_HOME}/bash/.functions" ]]; then
    # shellcheck source=../.config/bash/.functions
    source "${XDG_CONFIG_HOME}/bash/.functions"
fi

# initialize bash-completion
{{ if eq .chezmoi.os "darwin" -}}
if [[ -f /opt/homebrew/etc/profile.d/bash_completion.sh ]]; then
    source /opt/homebrew/etc/profile.d/bash_completion.sh
fi
{{ else if eq .chezmoi.os "linux" -}}
if [[ -f /usr/share/bash-completion/bash_completion ]]; then
    source /usr/share/bash-completion/bash_completion
fi
{{ end }}

{{ if .install_nvm -}}
# nvm
[ -s "$NVM_DIR/nvm.sh" ] && source "$NVM_DIR/nvm.sh"
[ -s "$NVM_DIR/bash_completion" ] && source "$NVM_DIR/bash_completion"
{{ end }}

# rustup
if [[ -f "$HOME/.cargo/env" ]]; then
    source "$HOME/.cargo/env"
fi

# initialize fzf
if command -v fzf >/dev/null 2>&1; then
    eval "$(fzf --bash)"
fi

# initialize custom prompt
# shellcheck source=./.prompt
source "${HOME}/.prompt"

# initialize zoxide
if command -v zoxide >/dev/null 2>&1; then
    eval "$(zoxide init bash)"
fi
