# shellcheck shell=bash

# terminal colors and language
export CLICOLOR=1
export TERM=xterm-256color
export LS_COLORS="\
ln=38;5;152:\
di=38;5;110:\
ex=38;5;152:\
so=38;5;223:\
pi=38;5;223:\
bd=38;5;110:\
cd=38;5;110:\
*.txt=38;5;255:\
*.md=38;5;255:\
*.json=38;5;255:\
*.yaml=38;5;255:\
*.yml=38;5;255:\
*.toml=38;5;255:\
*.conf=38;5;255:\
*.py=38;5;110:\
*.sh=38;5;110:\
*.js=38;5;110:\
*.ts=38;5;110:\
*.rs=38;5;110:\
*.go=38;5;110:\
*.jpg=38;5;223:\
*.jpeg=38;5;223:\
*.png=38;5;223:\
*.gif=38;5;223:\
*.webp=38;5;223:\
*.svg=38;5;223:\
*.zip=38;5;173:\
*.tar=38;5;173:\
*.gz=38;5;173:\
*.xz=38;5;173:\
*.bz2=38;5;173:\
*.7z=38;5;173:\
*.deb=38;5;173:\
*.rpm=38;5;173"
export LANG="en_US.UTF-8"
export HISTCONTROL=ignoreboth

# terminal editor and configs
if command -v codium >/dev/null 2>&1; then
    export EDITOR="codium --wait"
else
    export EDITOR="vim"
fi
export XDG_CONFIG_HOME="${HOME}/.config"

{{ if eq .chezmoi.os "darwin" -}}
# Homebrew
export HOMEBREW_NO_ANALYTICS=1
export HOMEBREW_NO_ENV_HINTS=1
eval "$(/opt/homebrew/bin/brew shellenv)"

# Initial path (macOS)
export PATH="/opt/homebrew/bin:/usr/local/bin:/usr/local/sbin:/usr/bin:/usr/sbin:/bin:/sbin"
{{ else -}}
# Initial path (Linux)
export PATH="/usr/local/bin:/usr/local/sbin:/usr/bin:/usr/sbin:/bin:/sbin"
{{ end -}}

# Gnupg
GPG_TTY=$(tty)
export GPG_TTY

# rust / cargo
export CARGO_REGISTRIES_CRATES_IO_PROTOCOL=sparse
export PATH="${HOME}/.cargo/bin:${PATH}"

{{ if .install_nvm -}}
# nvm
export NVM_DIR="${HOME}/.nvm"
{{ end -}}

# Docker
export DOCKER_BUILDKIT=1

{{ if .install_gcloud -}}
# Google Cloud SDK
{{ if eq .chezmoi.os "linux" -}}
if [[ -d "${HOME}/google-cloud-sdk/bin" ]]; then
    export PATH="${HOME}/google-cloud-sdk/bin:${PATH}"
fi
{{ else if eq .chezmoi.os "darwin" -}}
if [[ -d "/opt/homebrew/share/google-cloud-sdk/bin" ]]; then
    export PATH="/opt/homebrew/share/google-cloud-sdk/bin:${PATH}"
fi
{{ end }}
{{ end -}}

# Custom scripts and such
export PATH="${HOME}/.local/bin:${PATH}"

# Default browser
{{ if eq .chezmoi.os "darwin" -}}
export BROWSER="/Applications/Brave Browser.app/Contents/MacOS/Brave Browser"
{{ else -}}
if command -v brave-browser >/dev/null 2>&1; then
    export BROWSER="brave-browser"
elif command -v xdg-open >/dev/null 2>&1; then
    export BROWSER="xdg-open"
fi
{{ end -}}
