# Custom data directory
datadir={{ .bitcoin_datadir }}
txindex=1

# Tor-only networking
onlynet=onion
proxy=127.0.0.1:9050

# Listen only on localhost
bind=127.0.0.1
bind=::1
listen=1

# Explicitly disallow all non-local networks
onlynet=ipv4
onlynet=ipv6

# Optional hardening (prevents any clearnet discovery attempts)
dnsseed=0
discover=0

# rpc
rpcbind=127.0.0.1
